<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      th="http://www.thymeleaf.org"
      sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>
        <header replace="~{layout/plantilla :: header}"></header>
        <section replace="~{usuario/fragmentos :: botonesAgregar}"></section>
        <section replace="~{usuario/fragmentos :: agregarUsuario}"></section>
        <section replace="~{usuario/fragmentos :: listadoUsuarios}"></section>

        <footer replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>